page{
	background-color: #FFFFFF;
	letter-spacing: 1px;
}
.d_flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.flex_justify{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex_betewwen{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
image{
	width: 100%;
	height: 100%;
}
.image_blur{
	 -webkit-filter: blur(2px);
	 filter: blur(2px);
}
.cut_line {
	margin: 20rpx 0rpx;
	width: 90rpx;
	height: 4rpx;
	background-color: #B46628;
}
.app_name {
	font-size: 48rpx;
	font-weight: bold;
	margin-top: 20rpx;
}
.sub_intro{
	color: #666666;
	font-size: 24rpx;
	margin-top: 20rpx;
}
.top_r {
	background-color: #B46628;
	font-size: 20rpx;
	color: #FFFFFF;
	padding: 6rpx 20rpx;
	border-radius: 20rpx;
}

.r_bottom {
	flex-wrap: wrap;

	.b_label {
		background-color: #F1CAAB;
		font-size: 20rpx;
		color: #666666;
		border-radius: 8rpx;
		padding: 6rpx 10rpx;
		margin-right: 20rpx;
		margin-top: 20rpx;
	}
}
.main{
	padding: 0 32rpx;
}

.items{
	.item{
		align-items: flex-start;
		margin-top: 38rpx;
		padding-right: 20rpx;
	}
	.left{
		.avater{
			width: 98rpx;
			height: 98rpx;
			border-radius: 50%;
			position: relative;
		}
		.info{
			margin-left: 22rpx;
			color: #333333;
			font-size: 32rpx;
			font-weight: 500;
			.sub_text{
				color: #666666;
				font-size: 24rpx;
				margin-top: 12rpx;
				opacity: 0.8;
			}
		}
	}
	.right{
		font-size: 24rpx;
		color: #999999;
		opacity: 0.8;
	}
}